.git
.gitignore
.github
.next
node_modules
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.local
.env.*.local
.vscode
.idea
README.md
SETUP_AUTH.md
DEPLOY.md
docker/volumes
supabase/.temp
tsconfig.tsbuildinfo
*.log
